@model VoterAnalysis2.Models.ElectionDayAssignment

@{
    ViewData["Title"] = "AssignStaffElectionDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AssignStaffElectionDay</h1>

<h4>ElectionDayAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignStaffElectionDay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Precinct" class="control-label"></label>
                <select asp-for="Precinct" class="form-control" asp-items="ViewBag.Precinct"></select>
                <span asp-validation-for="Precinct" class="text-danger"></span>
            </div>
            <div class="form-group">
                Staff Name
                <input asp-for="StaffName" class="form-control" />
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

