
@{
    ViewData["Title"] = "StartUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StartUp</h1>
<p>
    
    <a asp-action="CreateVoterScore">Create Voter Score</a>
    <a asp-action="GeocodeVoters">Geocode Voters</a>
    <a asp-action="CreateVoterIdSurveys">Create Voter Id Surveys</a>
    <a asp-action="CreateElectionDayList">Create Election Day List</a>

</p>

