@model IEnumerable<VoterAnalysis2.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="SendEmail">Send Email</a>
</p>
<div class="card-deck">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">See Precincts Assigned</h5>
            <p class="card-text">Assign Staff Precincts for Identifying Voters or Election Day</p>
            <a asp-action="SeePrecinctsAssigned">View List</a>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">See Election Day Assignment</h5>
            <a asp-action="See">See Charts</a>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">See Map of Uncontacted Voters</h5>
            <a asp-action="SeeVotersMap">See Chart</a>
        </div>
    </div>
</div>

